@mixin typography($size,$width) {
  font-size: $size;
  font-weight: $width;
}

@mixin container($width) {
  max-width: $width;
}

@mixin button__main($padding_first,$padding_last,$background,$color,$border) {
  padding: $padding_first $padding_last;
  background-color: $background;
  color: $color;
  border-radius: $border;
  transition: 0.3s;
}

@mixin button__secondary($padding_first,$padding_last,$border-color,$color,$border) {
  padding: $padding_first $padding_last;
  border: 1px solid $border-color;
  color: $color;
  border-radius: $border;
  transition: 0.3s;
}

@mixin hover__main($color) {
  background-color: $color;
  transition: 0.3s ease-in-out;
}

@mixin hover__secondary($color) {
  color: $color;
  border-color: $color;
  transition: 0.3s ease-in-out;
}

@mixin level__list($top,$right,$bottom,$left,$gap) {
  padding: $top $right $bottom $left;
  display: flex;
  align-items: flex-end;
  gap: $gap;
}

@mixin  level__column($height,$width,$color,$border,$radius,$first,$last) {
  height: $height;
  width: $width;
  border: $border solid $color;
  border-radius: $radius;

  &:first-child {
    height: $first;
  }

  &:nth-child(2) {
    height: $last;
  }
}

@mixin progress_line($color, $step) {
  &:after {
    content: '';
    width: calc(18px * $step);
    height: 2px;
    z-index: 2;
    position: absolute;
    left: 0;
    background-color: $color;
  }
}

