@import "./colors";
//SECTIONS
@import "../header";
@import "../program";
@import "../route";
@import "../gallery";
@import "../schedule";
@import "../price";
@import "../choice";
@import "../information";
@import "../reviews";
@import "../more";
@import "../footer";

.progress {
  width: 162px;
  height: 2px;
  background-color: rgba($gray, 0.3);
  position: relative;
  z-index: 1;

  &__program {
    grid-area: program_progress;
    @include progress_line($red, 1);
  }

  &__route {
    @include progress_line($red, 2);
  }

  &__gallery {
    @include progress_line($red, 3);
  }

  &__schedule {
    @include progress_line($red, 4);
  }

  &__price {
    @include progress_line($red, 5);
  }

  &__choice {
    @include progress_line($red, 6);
  }

  &__information {
    @include progress_line($red, 7);
  }

  &__reviews {
    @include progress_line($red, 8);
  }

  &__more {
    @include progress_line($red, 9);
  }
}