@import "./settings/colors";
@import "./settings/mixins";
@import "./settings/fonts";

.header {
  height: auto;
  padding: 30px 0 20px 0;

  &__video {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 580px;
    top: 0;
    left: 0;

    & video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 46px 77px 304px 23px 78px;
    grid-template-areas:  "header_top"
                          "."
                          "header_middle"
                          "."
                          "header_bottom";

    &-top {
      grid-area: header_top;
      display: grid;
      grid-template-columns: max-content 1fr 560px 40px 244px;
      grid-template-areas: "logo . navigation . panel";
      justify-content: space-between;
      align-items: center;
    }

    &-middle {
      grid-area: header_middle;
      display: grid;
      grid-template-columns: minmax(200px, 667px) 54px;
      justify-content: space-between;
      align-items: start;
    }

    &-bottom {
      grid-area: header_bottom;
      display: grid;
      grid-template-columns: minmax(520px, 575px) max-content max-content;
      grid-template-areas: "description  text  button";
      justify-content: space-between;
      align-items: end;
    }
  }

  &__logo {
    grid-area: logo;
    max-width: 100%;
  }

  &__panel {
    grid-area: panel;
    display: flex;
    align-items: center;
    gap: 22px;
  }

  &__slider {
    grid-area: header_slider;
    display: none;
  }

  &__language {
    @include typography($fz_12, $fw_400);
    width: 22px;
    height: 22px;

    display: flex;
    align-items: center;
    justify-content: center;

    text-transform: uppercase;
    border-radius: 4px;
    border: 1px solid $white;
    color: $white;
  }

  &__user {
    width: 24px;
    height: 24px;
    border-radius: 100%;
    border: 1px solid $white;
    padding: 4px 4px 5px 4px;
  }

  &__banner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;

    &-list {
      display: flex;
      gap: 24px;
    }

    &-item {
      @include typography($fz_12, $fw_400);
      display: inline-block;
      padding: 2.5px 8.5px;
      color: $white;
      border-radius: 4px;
      border: 1px solid $white;
    }

    &-title {
      @include typography($fz_45, $fw_700);
      text-transform: uppercase;
      color: $white;
    }

    &-button {
      padding: 27px 27px 26px 31px;
      border-radius: 100%;
      border: 1px solid $white;
      background: rgba($white, 0.2);
    }
  }

  &__links {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 46px;

    &-text {
      @include typography($fz_16, $fw_500);
      color: $white;
    }

    &-list {
      display: flex;
      flex-direction: column;
      gap: 40px;
    }

    &-item {
      cursor: pointer;
      width: 31px;
      height: 31px;
    }
  }

  &__description {
    grid-area: description;

    &-mobile {
      display: none;
    }

    &-desktop {
      display: grid;
      grid-template-columns: repeat(4, max-content);
      justify-content: space-between;
    }

    &-item {
      display: inline-block;
    }

    &-title {
      @include typography($fz_40, $fw_800);
      color: $white;
    }

    &-text {
      @include typography($fz_16, $fw_400);
      color: $white;
    }

    &-level {
      @include level__list(12px, 0, 10px, 0, 3px);
    }

    &-column {
      @include level__column(28px, 11px, $white, 1px, 1.5px, 11px, 20px);
    }
  }

  &__text {
    grid-area: text;
    @include typography($fz_16, $fw_600);
    color: $white;
  }

  &__button {
    grid-area: button;
    @include typography($fz_16, $fw_500);
    @include button__main(10.5px, 29.5px, $main_green, $white, 4px);

    &:hover {
      @include hover__main($hover_green)
    }
  }
}

@media only screen and (max-width: 1220px) {
  .header__text {
    display: none;
  }
}

@media only screen and (max-width: 980px) {
  .header__content-top {
    grid-template-columns: max-content 1fr max-content 40px 244px;
  }
}

@media only screen and (max-width: 834px) {
  .header {
    padding: 30px 0 24px 0;

    &__content {
      grid-template-rows: 46px 77px 304px 55px max-content;

      &-top {
        grid-template-columns: max-content 1fr 313px 48px max-content;
      }
      &-bottom {
        grid-template-columns: minmax(300px, 370px)  max-content;
      }
    }

    &__language {
      display: none;
    }

    &__user {
      display: none;
    }


    &__information {
      &-title {
        @include typography($fz_35, $fw_700);
      }
    }

    &__description {

      &-title {
        @include typography($fz_18, $fw_700);
      }

      &-text {
        @include typography($fz_12, $fw_400);
      }

      &-desktop {
        display: none;
      }

      &-mobile {
        display: block;
      }

      &-list {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4,max-content);
        justify-content: space-between;
      }

      &-item {
        text-align: center;
      }

      &-order {
        display: none;
      }

      &-bottom {
        display: none;
      }
    }

    &__button {
      @include button__main(7.5px, 25px, $main_green, $white, 4px);
    }
  }
}

@media only screen and (max-width: 700px) {
  .header {

    &__content {
      &-top {
        grid-template-columns: max-content 1fr 300px 1fr max-content;
      }
    }

    &__banner {
      &-title {
        @include typography($fz_35, $fw_700);
      }
    }
  }
}

@media only screen and (max-width: 576px) {
  .header {
    padding: 0;
    background: none;

    &__video {
      display: none;
    }

    &__logo {
      width: 57px;
    }

    &__content {
      grid-template-rows: 50px 8px 65px 8px 192px 16px;
      grid-template-areas:  "header_top"
                            "."
                            "header_middle"
                            "."
                            "header_slider"
                            "."
                            "header_bottom";

      &-top {
        padding: 12px 0;
        grid-template-areas: "logo . panel";
        grid-template-columns: max-content 1fr max-content;

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 50px;
          background: rgba($black, 0.7);
          z-index: -1;
        }
      }

      &-middle {
        grid-template-columns: 1fr;
      }

      &-bottom {
        grid-template-columns: 1fr;
      }
    }

    &__phone {
      display: none;
    }

    &-desktop {
      display: none;
    }

    &__banner {
      width: 100%;


      &-title {
        @include typography($fz_18, $fw_700);
        color: $black;
      }

      &-list {
        display: none;
      }

      &-button {
        display: none;
      }
    }

    &__links {
      display: none;
    }

    &__slider {
      overflow-x: auto;
      display: grid;
      grid-auto-flow: column;
      grid-auto-columns: minmax(100%, 1fr);
      gap: 8px;

      &::-webkit-scrollbar {
        display: none;
      }

      &-item {
        position: relative;
        display: inline-block;
      }

      &-button {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 13px 14px;
        width: 44px;
        height: 44px;
        border-radius: 100%;
        border: 1px solid $white;
        background: rgba($white, 0.2);
      }

      &-angle {
        width: 16px;
        height: 16px;
      }

      &-video {
        object-fit: cover;
        max-width: 100%;
        position: relative;
        height: 192px;
        border-radius: 2px;
      }
    }

    &__description {

      &-bottom {
        border-top: 1px solid rgba($black, 0.2);
        padding: 8px 0;
        display: flex;
        justify-content: space-between;
      }

      &-chat {
        border-radius: 100%;
        border: 1px solid $main_green;
        padding: 14px 12px 10px 12px;
      }

      &-button {
        @include typography($fz_16, $fw_500);
        @include button__main(10.5px, 48.5px, $main_green, $white, 4px);

        &:hover {
          @include hover__main($hover_green)
        }
      }

      &-mobile {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 16px;
      }

      &-order {
        display: block;
        @include typography($fz_13, $fw_400);
      }

      &-list {
        justify-content: space-between;
        display: flex;
        gap: 36px;
        max-width: 370px;
      }

      &-item {
        text-align: center;
      }

      &-title {
        color: $gray;
        @include typography($fz_18, $fw_700);
      }

      &-text {
        color: $gray;
        @include typography($fz_12, $fw_400);
      }
    }

    &__button {
      display: none;
    }
  }
}



