@import "./settings/colors";
@import "./settings/mixins";
@import "./settings/fonts";

.program {

  &__content {
    display: grid;
    grid-template-columns: 1fr 62px 400px;
    grid-template-rows: 1px 24px 255px 33px 64px 43px 210px;
    grid-template-areas:  "program_progress . ."
                          ". . ."
                          "program_infrormation . program_way"
                          ". . ."
                          "program_middle program_middle program_middle"
                          ". . ."
                          "program_bottom program_bottom program_bottom";

    &-information {
      grid-area: program_infrormation;
    }

    &-way {
      grid-area: program_way;
    }

    &-middle {
      grid-area: program_middle;
      padding: 13px 0;
      background-color: $gray_light;
      border-bottom: 1px solid rgba($gray, 0.2);
      position: relative;
    }

    &-bottom {
      grid-area: program_bottom;
    }
  }

  &__information {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: minmax(288px, 820px);
    gap: 16px;

    &-top {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 10px;
    }

    &-text {
      @include typography($fz_16, $fw_400);
      line-height: 140%;
    }

    &-download {
      max-width: max-content;
      @include typography($fz_16, $fw_500);
      @include button__secondary(8px, 17.5px, $main_green, $main_green, 4px);

      &:hover {
        @include hover__secondary($hover_green)
      }
    }
  }

  &__way {
    grid-template-columns: minmax(288px, 400px);
    display: grid;
    grid-template-rows: auto auto;
    gap: 16px;
    height: 175px;
    padding: 24px;
    background-color: $gray_light;


    &-text {
      @include typography($fz_16, $fw_400);
    }

    &-color {
      @include typography($fz_16, $fw_400);
      color: $gray;
    }
  }

  &__menu {
    display: grid;
    grid-template-columns: 570px 1fr max-content 40px max-content;
    grid-template-areas: "program_navigation . program_text . program_button";
    align-items: center;
  }

  &__list {
    grid-area: program_navigation;
    display: flex;
    justify-content: space-between;

    &-link {
      @include typography($fz_16, $fw_500);
      cursor: pointer;
      color: $gray;
    }
  }

  &__text {
    grid-area: program_text;
    @include typography($fz_16, $fw_600);
    color: $gray;
  }

  &__button {
    grid-area: program_button;
    @include typography($fz_16, $fw_500);
    @include button__main(7.5px, 25.5px, $main_green, $white, 4px);

    &:hover {
      @include hover__main($hover_green)
    }
  }

  &__conditions {
    display: grid;
    grid-template-columns: repeat(3, minmax(auto, 300px));
    justify-content: space-between;
    gap: 15px;

    &-item {
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 8px;
    }

    &-image {
      width: 30px;
      height: auto;
    }

    &-level {
      @include level__list(10px, 0, 0, 0, 3px);
    }

    &-column {
      @include level__column(20px, 8px, $gray, 1px, 1.1px, 8px, 12px);
    }

    &-title {
      @include typography($fz_16, $fw_600);
      margin-top: 8px;
      color: $gray;
      text-transform: uppercase;
    }

    &-text {
      line-height: 140%;
      @include typography($fz_16, $fw_400);
    }

    &-button {
      margin-top: 24px;
      @include typography($fz_16, $fw_500);
      @include button__secondary(7.5px, 25.5px, $main_green, $main_green, 4px);

      &:hover {
        @include hover__secondary($hover_green)
      }
    }


    &-mobile {
      display: none;
    }

    &-information {
      display: none;
    }

  }

  &__price {
    display: none;
  }

  &__buttons {
    display: none;
  }

  &__button {
    &-favorites {
      display: inline-block;
      @include typography($fz_16, $fw_500);
      color: $main_green;
    }

    &-mobile {
      display: none;
    }
  }

  &__route {
    display: none;
  }
}

@media only screen and (max-width: 1220px) {
  .program {

    &__content {
      display: grid;
      grid-template-rows: 1px 24px auto 33px 64px 43px 210px;

    }

    &__text {
      display: none;
    }
  }
}

@media only screen and (max-width: 834px) {
  .program {
    position: relative;
    margin-bottom: 40px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 64px;
      background-color: $gray_light;
      border-bottom: 1px solid rgba($gray, 0.2);
      z-index: -1;
    }

    &__content {
      display: grid;
      column-gap: 10px;
      grid-template-columns: 1fr minmax(288px, 343px);
      grid-template-rows: 64px 20px 70px 37px 1px 24px auto 40px auto;
      grid-template-areas:  "program_middle program_middle"
                            ". ."
                            "price price"
                            ". ."
                            "program_progress . "
                            ". ."
                            "program_infrormation program_infrormation"
                            ". ."
                            "program_bottom program_way"
                            "program_bottom ."
                            "program_bottom program_route";

      &-middle {
        padding: 22px 0;
        border: 0;
        background: none;

      }
    }

    &__menu {
      grid-template-columns: 550px;
      grid-template-areas: "program_navigation . .";
    }

    &__text {
      display: none;
    }

    &__button {
      display: none;
    }

    &__price {
      grid-area: price;
      display: flex;
      align-items: center;
      justify-content: space-between;

      &-date {
        @include typography($fz_16, $fw_400);
        line-height: 140%;
      }

      &-line {
        height: 60px;
        width: 1px;
        background-color: rgba($gray, 0.2);
      }

      &-list {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
      }

      &-accent {
        @include typography($fz_18, $fw_700);
      }

      &-item {
        @include typography($fz_16, $fw_400);
        line-height: 140%;

        &:nth-child(2) {
          text-decoration: line-through;
          text-decoration-color: $red;
        }
      }
    }

    &__conditions {
      gap: 40px;
      grid-template-columns: minmax(288px, 343px);
    }

    &__way {
      height: 200px;
    }

    &__route {
      display: block;
      grid-area: program_route;
    }
  }
}

@media only screen and (max-width: 700px) {
  .program {
    &__content {
      grid-template-columns: minmax(auto, 343px) minmax(auto, 343px);
    }

    &__way {
      height: 230px;
      grid-template-columns: auto;
    }
  }
}

@media only screen and (max-width: 576px) {
  .program {
    margin-top: 10px;

    &:before {
      background: none;
      border: none;
    }

    &__content {
      grid-template-columns: 1fr;
      grid-template-rows: auto;

      &-middle {
        display: none;
      }
    }

    &__price {
      display: none;
    }

    &__way {
      display: none;
    }

    &__route {
      display: none;
    }

    &__information {
      margin-top: 12px;
      grid-template-columns: 1fr;

      &-favorites {
        display: none;
      }

      &-download {
        display: none;
      }

      &-text {
        @include typography($fz_12, $fw_400);
      }
    }

    &__conditions {
      grid-template-columns: auto;
    }

    &__buttons {
      margin: 40px 0;
      display: flex;
      justify-content: space-between;

      &-mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 4px;
        border: 1px solid $main_green;
        border-radius: 4px;
        padding: 10px;
      }

      &-text {
        color: $gray;
        @include typography($fz_12, $fw_400);
      }
    }
  }
}

